.arrowsize {
  font-size: 3em;
  padding-bottom: 30px;
}

.clipboard {
  border-radius: 120px;
  // margin-left: 420px;
  // zoom: 150%;
}

#foo {
  border-radius: 0px 5px 5px 0px;
  width: 280px;
  // height: 33px;
  padding-left: 5px;
}

.clipper {
  border-radius: 5px 0px 0px 5px !important;
}

.clipboardbtn {
  
}
