<div class="flex flex-row items-center justify-center">
<%= form_tag test_path(@test), method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "flex mx-auto bg-white rounded border border-gray-400 focus:outline-none shadow-lg focus:border-purple-500 text-base p-20 py-2 ",
    placeholder: "Find a candidate : Name, Last Name and email"%>
<% end %>
</div>
