.question-box {
  height: 150vh;
}

.opacity-H1 {
  opacity: 0.8;
}

.plus-grand {
  font-size: 1.3em;
  margin-bottom: 10px;
}

.div-80-center {
  width: 80vw;
  margin: 40px auto;

}

.mechant {
  cursor: pointer;
}

.div-center {
  text-align: center;
}
