  <div class="container px-5 py-24 mx-auto">
    <div class="text-center mb-10">
      <h1 class="sm:text-3xl text-2xl font-medium title-font text-purple-500 mb-4">SEARCH CANDIDATE RESULTS</h1>
    </div>
<%= render "shared/search_bar" %>
<%= render "shared/card_candidates" %>
